*{
    line-height: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

#form-wrapper{
    display: flex;
    justify-content:center;
    border-top: 1px solid black;
}


h1{
    font-size: 65px;
    font-weight: 500;
    line-height: 55px;
    margin-top: 0;
    
}

p{
    font-size: 21px;
    line-height: .7rem;
}

textarea{
    width: 200px;
    height: 75px;
    line-height: 1rem;

}

span{
    font-size: 24px;
}

.radio{
    font-size: 14px;
    line-height: 30px;
}

option{
    font-size: 14px;
}

button{
    border: none;
}